/*ФОН*/
.ym-dark-theme {
    --ym-background-color-primary-enabled-basic: #0F0F0F;
}

section.PlayerBar_root__cXUnU {
	position: fixed;
	background: #000;
	border-width: 1;
	width: 980px;
	height: 551px;
	left: calc(50% - 43.75%);
	top: 160px;
	z-index: 20;
}

.dynamicLight {
	position: fixed;
	background: #0000;
	border-width: 0;
	border-radius: 30px;
	width: 1060px;
	height: 605px;
	left: calc(50% - 46%);
	top: 145px;
	z-index: 1;
	filter: blur(60px);
	opacity: 0.5;
}

.SonataControlsDesktop_sonataButtons__ux0qT {
	position: fixed;
	left: calc(50% - 42.5%);
	top: 664px;
}

.ChangeTimecode_slider__P4qmT {
	position: fixed;
	left: calc(50% - 43%);
	top: 645px;
	width: 961px;
}

.JkKcxRVvjK7lcakkEliC:before {
	background-color: #f00;
}

.ChangeTimecode_slider__P4qmT {
	--slider-thumb-box-shadow-color: #0000;
}

.SonataControlsDesktop_root__oluUH {
	position: fixed;
	left: calc(50% - 43.718%);
	width: 978px;
	height: 90px;
	top: 633px;
	border-radius: 8.8px;
	background: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.7) 100%);
}

.Timecode_root_start__pHG5N {
	position: fixed;
	left: calc(50% - 34.43%);
	top: 680px;
	opacity: 1;
	color: #fff;
	font-weight: 250;
}

.Timecode_root_start__pHG5N:after {
	content: "/";
	margin-left: 5px;
}

.Timecode_root_end__LLQsh {
	position: fixed;
	left: calc(50% - 31.4%);
	top: 680px;
	opacity: 1;
	color: #fff;
	font-weight: 250;
}

.ChangeVolume_icon__5Zv2a {
	position: fixed;
	left: calc(50% - 36.7%);
	top: 676px;
}

.FullscreenPlayerDesktopButton_root__qGgoC {
	opacity: 1;
	background: 0;
	z-index: 30;
}

.FullscreenPlayerDesktopButton_button__7NEl6 {
	position: fixed;
	left: 1020px;
	bottom: 143px;
	background: 0;
}

.PlayerBarDesktop_meta__6sm58 {
	position: fixed;
	left: 878px;
	bottom: 148px;
	z-index: 20;
}

[data-test-id="PREVIOUS_TRACK_BUTTON"],
[data-test-id="CHANGE_VOLUME_SLIDER"],
.BlockHeader_heading__4iqvS,
.NavbarDesktop_pinsList___jXIM:after,
.NavbarDesktop_pinsList___jXIM:before,
.ZrkG6gNYcr4h3hfkhyT1,
.xfFtKQpgAYvC2jI1tBtS,
.UserProfile_root__vFuOj,
.l66GiFKS1Ux_BNd603Cu,
.ZSjQrniulol6xKOq2Bou,
[data-test-id="SHUFFLE_BUTTON"],
[data-test-id="REPEAT_BUTTON_NO_REPEAT"],
.NavbarDesktop_collapseButton__XQh9d,
.Meta_explicitMark__ocnCV {
	display: none;
}

.FullscreenPlayerDesktop_important__dGfiL {
	visibility: hidden;
	backdrop-filter: none;
}

.FullscreenPlayerDesktop_closeButton__MQ64s {
	visibility: visible;
}

.DefaultLayout_content__md70Z {
	position: fixed;
	width: 0;
	background: 0;
	border-width: 0;
	border-radius: 0;
	display: none;
}

.NavbarDesktop_pinsList___jXIM {
	position: fixed;
	right: 0;
	bottom: 0;
	top: 155px;
	left: 1090px;
	z-index: 100;
}

.PinItem_cover__9TcjE {
	width: 168px;
	height: 94px;
	margin-top: 7px;
	bottom: 35px;
}

.Pin_root__UyplT {
	height: 115px;
	overflow: visible;
}

.Pin_root__UyplT:hover {
	height: 115px;
	overflow: visible;
	background: 0;
}

.Pin_meta__MzX_7 {
	margin-left: 130px;
	margin-top: -55px;
}

.Pin_title__Jw5WW {
	font-size: 15px;
	font-weight: 400;
}

.Meta_title__GGBnH {
	position: fixed;
	bottom: 92px;
	left: 100px;
	font-size: 23px;
	font-weight: 500;
}

.PlayerBarDesktop_coverContainer__2Z5nQ {
	position: fixed;
	bottom: 27px;
	border-radius: 150px;
	width: 45px;
	height: 45px;
	left: 100px;
}
/*
.PlayerBarDesktop_coverContainer__2Z5nQ:after {
	position: fixed;
	content: "Подписаться";
	margin-left: 170px;
	bottom: 27px;
	color: #000;
	background: #fff;
	padding: 10px;
	width: 120px;
	height: 40px;
	text-align: center;
	border-radius: 150px;
	font-weight: 600;
}
*/
.SeparatedArtists_root_variant_breakAll__34YbW  {
	position: fixed;
	bottom: 39px;
	left: 155px;
	color: #fff;
}

.Meta_artistCaption__JESZi {
	color: #fff;
}

.NavbarDesktop_logo__Z4jGx {
	position: fixed;
	top: 180px;
	left: 100px;
	color: #fff;
	z-index: 200;
	opacity: 0.5;
}

.AccK_iF55jra4_OlFloI,
.YjRa1ZjM_lXFlrfS7jcu,
.qoEgTMlU0VM3i4p8LeMG {
	color: #fff;
}

.browserScreen {
	position: fixed;
	content: url("http://127.0.0.1:2007/assets/browser.png");
	z-index: 100;
	left: 0;
	top: 0;
}

.browserButtons {
	position: fixed;
	content: url("http://127.0.0.1:2007/assets/browser-buttons.png");
	z-index: 101;
	right: 0;
	top: 0;
}

.searchBlock {
	position: fixed;
	width: 30%;
	height: 40px;
	top: 93px;
	left: calc(50% - 15%);
	background: #121212;
	border-color: #303030;
	border-style: solid;
	border-width: 1px;
	z-index: 101;
}

.searchBlock:before {
	position: absolute;
	top: -1px;
	left: -50px;
	content: url("http://127.0.0.1:2007/assets/se.png");
}

.searchBlock:after {
	position: absolute;
	top: -1px;
	right: -100px;
	content: url("http://127.0.0.1:2007/assets/arch.png");
}

/*Цвета*/
.firstColorBlock {
	background-color: #22153F;
	width: 100%;
	height: 44px;
	z-index: 90;
}

.secondColorBlock {
	position: fixed;
	background-color: #281D4E;
	width: 100%;
	height: 41px;
	z-index: 91;
	border-color: #3A3372;
	border-style: solid;
	border-width: 0px 0px 1px 1px;
}

.thirdColorBlock {
	position: fixed;
	background-color: #2D245B;
	width: 100%;
	height: 32px;
	top: 48px;
	z-index: 92;
}

.TitleBar_root__QjdOZ {
	top: 0px;
}

.TitleBar_button__9MptL,
.TitleBar_root__QjdOZ {
	height: 44px;
	opacity: 0;
}

/* Стили для floatingDiv */
#floatingDiv {
    position: fixed;
    top: 600px;
    left: calc(50% - 13%);
    transform: translateX(-50%); /* Центрируем элемент по горизонтали */
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 5px;
    border-radius: 0px;
    font-family: Arial, sans-serif;
    font-size: 18px;
    text-align: center; /* Центрируем текст */
    opacity: 0.8;
}

[data-test-id="PLAYERBAR_DESKTOP_CONTEXT_MENU_BUTTON"] {
	position: fixed;
	left: 1030px;
	bottom: 70px;
	background: #272727;
	color: #fff;
}

[data-test-id="LIKE_BUTTON"] {
	position: fixed;
	left: 980px;
	bottom: 70px;
	background: #272727;
	color: #fff;
}