/*ФОН*/
.ym-dark-theme {
    --ym-background-color-primary-enabled-basic: #0F0F0F;
}

section.PlayerBar_root__cXUnU {
	position: fixed;
	background: #000;
	border-width: 1;
	width: 980px;
	height: 551px;
	left: calc(50% - 700px);
	top: 160px;
	z-index: 20;
	border-radius: 15px;
}

.dynamicLight {
	position: fixed;
	background: #0000;
	border-width: 0;
	border-radius: 30px;
	width: 1060px;
	height: 605px;
	left: calc(50% - 700px);
	margin-left: -41px;
	top: 145px;
	filter: blur(70px);
	z-index: 1;
	border-radius: 30px;
	opacity: 0.4;
}

.SonataControlsDesktop_sonataButton__FTykq {
	position: fixed;
	left: calc(50% - 700px);
	margin-left: 12px;
	top: 671px;
	opacity: 0;
	scale: 0.9;
	z-index: 22;
}

.PlayPauseContent {
	position: fixed;
	top: 685px;
	left: calc(50% - 700px);
	margin-left: 25px;
	width: 23px;
	height: 23px;
	z-index: 21;
	pointer-events: none;
}

/*NEXT_TRACK_BUTTON*/
[data-test-id="NEXT_TRACK_BUTTON"] {
	position: fixed;
	left: calc(50% - 700px);
	margin-left: 65px;
	top: 685px;
	opacity: 1;
	background-image: url("http://127.0.0.1:2007/assets/next-track.png");
	width: 10px;
	height: 10px;
	scale: 0.85;
	color: #0000;
	border-radius: 0;
	opacity: 1;
	background-size: cover;
}

[data-test-id="NEXT_TRACK_BUTTON"]:hover {
	opacity: 1;
	background-image: url("http://127.0.0.1:2007/assets/next-track.png");
	width: 10px;
	height: 10px;
	scale: 0.8;
	color: #0000;
	border-radius: 0;
	opacity: 1;
	background-size: cover;
}

.ChangeTimecode_slider__P4qmT {
	position: fixed;
	left: calc(50% - 700px);
	margin-left: 10px;
	top: 670px;
	width: 961px;
	height: 3px;
	border-radius: 0px;
	border-width: 0;
}

.JkKcxRVvjK7lcakkEliC:before {
	background-color: #f00;
	height: 3px;
	border-radius: 0px;
	border-width: 0;
}

.ChangeTimecode_slider__P4qmT {
	--slider-thumb-box-shadow-color: #0000;
}

.SonataControlsDesktop_root__oluUH {
	position: fixed;
	left: calc(50% - 700px);
	margin-left: 0.49px;
	width: 979.02px;
	height: 90px;
	top: 633px;
	border-radius: 13.5px;
	background: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.7) 100%);
	z-index: -1;
}

.Timecode_root_start__pHG5N {
	position: fixed;
	left: calc(50% - 700px);
	margin-left: 150px;
	top: 688px;
	opacity: 1;
	color: #fff;
	font-weight: 290;
}

.Timecode_root_start__pHG5N:after {
	content: "/";
	margin-left: 5px;
}

.Timecode_root_end__LLQsh {
	position: fixed;
	left: calc(50% - 700px);
	margin-left: 198px;
	top: 688px;
	opacity: 1;
	color: #fff;
	font-weight: 290;
}

/*Volume*/
.ChangeVolume_icon__5Zv2a {
	color: #0000;
	visibility: hidden;
}

[aria-label="Выключить звук"] {
	position: fixed;
	left: calc(50% - 700px);
	margin-left: 110px;
	top: 685px;
	width: 23px;
	height: 23px;
	background-size: cover;
	background-image: url("http://127.0.0.1:2007/assets/sound1.png");
}

[aria-label="Включить звук"] {
	position: fixed;
	left: calc(50% - 700px);
	margin-left: 110px;
	top: 685px;
	width: 23px;
	height: 23px;
	background-size: cover;
	background-image: url("http://127.0.0.1:2007/assets/sound0.png");
}

/*Fullscreen Button*/
.FullscreenPlayerDesktopButton_root__qGgoC {
	opacity: 1;
	background: 0;
	z-index: 30;
}

.FullscreenPlayerDesktopButton_button__7NEl6 {
	position: fixed;
	left: calc(50% - 700px);
	margin-left: 930px;
	top: 688px;
	background: 0;
	width: 20px;
	height: 20px;
	background-size: cover;
	border-radius: 0;
	pointer-events: none;
	background-image: url("http://127.0.0.1:2007/assets/fullscreen-button.png");
}

.FullscreenPlayerDesktopButton_button__7NEl6:hover {
	position: fixed;
	left: calc(50% - 700px);
	margin-left: 930px;
	top: 688px;
	background: 0;
	width: 20px;
	height: 20px;
	background-size: cover;
	border-radius: 0;
	pointer-events: none;
	background-image: url("http://127.0.0.1:2007/assets/fullscreen-button.png");
}

.PlayerBarDesktop_meta__6sm58 {
	position: fixed;
	left: calc(50% - 700px);
	margin-left: 775px;
	top: 671px;
	z-index: 20;
}

[data-test-id="CHANGE_VOLUME_SLIDER"],
.BlockHeader_heading__4iqvS,
.NavbarDesktop_pinsList___jXIM:after,
.NavbarDesktop_pinsList___jXIM:before,
.ZrkG6gNYcr4h3hfkhyT1,
.xfFtKQpgAYvC2jI1tBtS,
.l66GiFKS1Ux_BNd603Cu,
.ZSjQrniulol6xKOq2Bou,
[data-test-id="SHUFFLE_BUTTON"],
[data-test-id="REPEAT_BUTTON_NO_REPEAT"],
.NavbarDesktop_collapseButton__XQh9d,
.Meta_explicitMark__ocnCV,
.Meta_version__c2sHU,
.UserProfile_meta___okny,
.VibeBlock_root__z7LtR,
.LikesAndHistory_carousel__579RD,
.CarouselBlock_important__AARmP,
.Vibes_important__Vew_4,
.VibesCarousel_item__AupL0,
.NewReleases_important__qkt9x,
.Neuromusic_important__8Ib5E,
[data-test-id="SMART_OPEN_PLAYLIST"],
[data-test-id="RECOMMENDED_PLAYLISTS"],
[data-test-id="NEUROMUSIC"],
.BlockHeader_root__j3mb,
.CompositeHeader_static__pZdrc,
.CompositeHeader_stickyChild__nmQ60,
.NewReleases_root__4ONiw,
.Footer_empty__RR_zf,
.BlockHeader_root__j3mbg,
.MainPage_beta__y32vb,
.AlbumCard_artistLink__uPR_2,
.Rkdd2vKC_3xa1eUdRdHP,
.Tab_covers__cvYeI,
.bBh7lvgdfF7bqNqlK78Q,
.AlbumCard_pinButton__Mdi_E {
	display: none;
}

.RvWjZle1erRBXzJEF9Zj {
	width: 200px;
	height: 200px;
	margin-left: -30px;
	margin-top: -60px;
}

.Seq0GowcqQmiA9LdLP_g {
	width: 200px;
	height: 200px;
	top: 0;
	border-radius: 0;
	opacity: 0;
}

.Skeleton_important___h_yG {
	flex-direction: column;
}

.InStyle_tabCarousel__SXqBO {
	flex-direction: unset;
}

.Tab_description__p1fTO {
	margin-left: 8px;
}

.Tab_title__hAYZk {
	color: #000;
}

.InStyle_tab__DeURY {
	background: #fff;
	border-radius: 5px;
}

.InStyle_tab__DeURY:hover {
	background: #fff;
	border-radius: 5px;
	filter: brightness(1.1);
}

/*UserProfile*/
.UserProfile_root__vFuOj {
	position: fixed;
	top: 97px;
	right: 28px;
	z-index: 99999;
}

.UserID-Avatar {
	width: 33px;
	height: 33px;
}

.UserID-Avatar:after {
	display: none;
}

.UserProfile_dialog_desktop__0p006 {
	position: fixed;
	top: 150px;
	right: 20px;
	left: calc(100% - 342px);
	margin-bottom: 62px;
}

.AvatarImage {
	position: fixed;
	top: 300px;
	width: 300px;
	height: 300px;
	z-index: 9999999;
}

.FullscreenPlayerDesktop_important__dGfiL {
	visibility: hidden;
	backdrop-filter: none;
}

.DefaultLayout_content__md70Z {
	position: fixed;
	left: calc(50% + -700px);
	margin-left: 978px;
	top: 160px;
	bottom: 0;
	right: 0;
	background: #0000;
	border-width: 0;
	border-radius: 0;
	z-index: 9999;
}

.NavbarDesktop_pinsList___jXIM {
	position: fixed;
	right: 0;
	bottom: 0;
	top: 155px;
	left: calc(50% - 700px);
	margin-left: 985px;
	z-index: 100;
	display: none;
}

.PinItem_cover__9TcjE {
	width: 168px;
	height: 94px;
	margin-top: 7px;
	bottom: 35px;
}

.AlbumCard_coverBlock__94ZzY {
	width: 168px;
	height: 94px;
}

.AlbumCard_coverBlock__94ZzY {
    display: flex;
    justify-content: center;
}

.AlbumCard_root__vP6k4 {
	flex-direction: unset;
	width: 168px;
	height: 90px;
}

.AlbumCard_titleLink__u_WLG {
	pointer-events: none;
}

.PVBDIXF2RTUThmbNT9sV {
	width: 200px;
	margin-left: 10px;
}

.Pin_root__UyplT {
	height: 115px;
	overflow: visible;
}

.Pin_root__UyplT:hover {
	height: 115px;
	overflow: visible;
	background: 0;
}

.Pin_meta__MzX_7 {
	margin-left: 130px;
	margin-top: -55px;
}

.Pin_title__Jw5WW {
	font-size: 15px;
	font-weight: 400;
}

.Meta_title__GGBnH {
	position: fixed;
	top: 740px;
	left: calc(50% - 700px);
	font-size: 23px;
	font-weight: 500;
	pointer-events: none;
}

.PlayerBarDesktop_coverContainer__2Z5nQ {
	position: fixed;
	top: 778px;
	border-radius: 150px;
	width: 45px;
	height: 45px;
	left: calc(50% - 700px);
}
/*
.PlayerBarDesktop_coverContainer__2Z5nQ:after {
	position: fixed;
	content: "Подписаться";
	margin-left: 170px;
	bottom: 27px;
	color: #000;
	background: #fff;
	padding: 10px;
	width: 120px;
	height: 40px;
	text-align: center;
	border-radius: 150px;
	font-weight: 600;
}
*/
.SeparatedArtists_root_variant_breakAll__34YbW  {
	position: fixed;
	top: 791px;
	left: calc(50% - 700px);
	margin-left: 53px;
	color: #fff;
	z-index: 99999;
}

.Meta_artistCaption__JESZi {
	color: #fff;
}

.Meta_text__Y5uYH {
	pointer-events: none;
}

.NavbarDesktop_logo__Z4jGx {
	position: fixed;
	top: 180px;
	left: calc(50% - 700px);
	color: #fff;
	z-index: 200;
	opacity: 0.5;
	pointer-events: none;
}

.AccK_iF55jra4_OlFloI,
.YjRa1ZjM_lXFlrfS7jcu,
.qoEgTMlU0VM3i4p8LeMG {
	color: #fff;
}

.browserScreen {
	position: fixed;
	content: url("http://127.0.0.1:2007/assets/browser.png");
	z-index: 14;
	left: 0;
	top: 0;
}

.browserButtons {
	position: fixed;
	content: url("http://127.0.0.1:2007/assets/browser-buttons.png");
	z-index: 101;
	right: 0;
	top: 0;
}

.searchBlock {
	position: fixed;
	width: 30%;
	height: 40px;
	top: 93px;
	left: calc(50% - 15%);
	background: #121212;
	border-color: #303030;
	border-style: solid;
	border-width: 1px;
	z-index: 101;
}

.searchBlock:before {
	position: absolute;
	top: -1px;
	left: -50px;
	content: url("http://127.0.0.1:2007/assets/se.png");
}

.searchBlock:after {
	position: absolute;
	top: -1px;
	right: -100px;
	content: url("http://127.0.0.1:2007/assets/arch.png");
}

/*Цвета*/
.firstColorBlock {
	background-color: #22153F;
	width: 100%;
	height: 44px;
	z-index: 90;
}

.secondColorBlock {
	position: fixed;
	background-color: #281D4E;
	width: 100%;
	height: 41px;
	z-index: 12;
	border-color: #3A3372;
	border-style: solid;
	border-width: 0px 0px 1px 1px;
}

.thirdColorBlock {
	position: fixed;
	background-color: #2D245B;
	width: 100%;
	height: 32px;
	top: 48px;
	z-index: 13;
}

.TitleBar_root__QjdOZ {
	top: 0px;
}

.TitleBar_button__9MptL,
.TitleBar_root__QjdOZ {
	height: 44px;
	opacity: 0;
}

/* Стили для floatingDiv */
#floatingDiv {
    position: fixed;
    top: 625px;
    left: calc(50% - 700px);
    margin-left: 490px;
    transform: translateX(-50%); /* Центрируем элемент по горизонтали */
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 5px;
    border-radius: 0px;
    font-family: Arial, sans-serif;
    font-size: 18px;
    text-align: center; /* Центрируем текст */
    opacity: 0.8;
}

[data-test-id="PLAYERBAR_DESKTOP_CONTEXT_MENU_BUTTON"] {
	position: fixed;
	left: calc(50% - 700px);
	margin-left: 949px;
	top: 784px;
	width: 35px;
	height: 35px;
	background: #272727;
	opacity: 0;
}

.PlayerBarDesktop_dislikeButton__XwMir {
	position: fixed;
	left: calc(50% - 700px);
	margin-left: 743px;
	top: 784px;
	background: #272727;
	color: #fff;
	width: 53px;
	height: 35px;
	border-radius: 0px 150px 150px 0px;
	background: #f00;
	opacity: 0;
	z-index: 11;
}

.PlayerBarDesktop_likeButton__LKH4K {
	position: fixed;
	left: calc(50% - 700px);
	margin-left: 649px;
	top: 784px;
	background: #272727;
	color: #fff;
	width: 95px;
	height: 35px;
	border-radius: 150px 0px 0px 150px;
	background: #f00;
	opacity: 0;
	z-index: 11;
}

.likeBack {
	position: fixed;
	left: calc(50% - 700px);
	margin-left: 661px;
	top: 792px;
	width: 20px;
	height: 20px;
	background: #00f;
	z-index: 5;
}

.downButtons {
	position: fixed;
	content: url("http://127.0.0.1:2007/assets/down-buttons.png");
	top: 783px;
	left: calc(50% - 700px);
	margin-left: 647px;
	z-index: 10;
}

[data-test-id="PREVIOUS_TRACK_BUTTON"] {
	position: fixed;
	left: 8px;
	top: 48px;
	background: #fff;
	z-index: 99999;
	border-radius:4px;
	color: #fff0;
	width: 32px;
	height: 32px;
	opacity: 0;
}

[data-test-id="PREVIOUS_TRACK_BUTTON"]:hover {
	position: fixed;
	left: 8px;
	top: 48px;
	background: #fff;
	z-index: 99999;
	border-radius:4px;
	color: #fff0;
	width: 32px;
	height: 32px;
	opacity: 0.095;
}

.PlayerBarDesktop_settingsButton__jLkVn {
	position: fixed;
	top: 688px;
	left: calc(50% - 700px);
	margin-left: 885px;
	width: 20px;
	height: 20px;
	background-size: cover;
	background-image: url("http://127.0.0.1:2007/assets/settings-button.png");
}

[data-test-id="PLAYERBAR_DESKTOP_PLAY_QUEUE_BUTTON"] {
	position: fixed;
	top: 689px;
	left: calc(50% - 700px);
	margin-left: 834px;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	border-radius: 0;
	width: 28px;
	height: 18px;
}

[data-test-id="PLAYERBAR_DESKTOP_PLAY_QUEUE_BUTTON"][aria-hidden="true"] {
	background-image: url(http://127.0.0.1:2007/assets/queue-button.png);
	opacity: 0.1;
}

[data-test-id="PLAYERBAR_DESKTOP_PLAY_QUEUE_BUTTON"][aria-hidden="false"] {
	background-image: url(http://127.0.0.1:2007/assets/queue-button.png);
	opacity: 1;
}


[aria-label="Включить текстомузыку Может нарушить доступность"] {
	position: fixed;
	left: calc(50% - 700px);
	margin-left: 790px;
	top: 689px;
	width: 23px;
	height: 18px;
	color: #0000;
	background-position: center;
	border-radius: 0;
	background-size: contain;
	background-repeat: no-repeat;
}


/* Если aria-hidden="true", убираем background-image */
[aria-label="Включить текстомузыку Может нарушить доступность"][aria-hidden="true"] {
    background-image: url("http://127.0.0.1:2007/assets/subtitles-button.png");
    color: #0000;
    opacity: 0.1;
}

/* Если aria-hidden="false", устанавливаем background-image */
[aria-label="Включить текстомузыку Может нарушить доступность"][aria-hidden="false"] {
    background-image: url("http://127.0.0.1:2007/assets/subtitles-button.png");
}

.FullscreenPlayerDesktop_closeButton__MQ64s {
	visibility: visible;
	position: fixed;
	left: calc(50% - 700px);
	margin-left: 788px;
	top: 687px;
	background: 0;
	color: #0000;
	border-radius: 0;
	border-style: solid;
	border-color: #f00;
	border-width: 0px 0px 3px 0px;
	width: 29px;
	height: 25px;
}

/*Update Notification*/
.NotificationUpdate_important___0WHj {
	top: 80px;
	height: 150px;
	width: 505px;
	background: #1F1F1F;
	border-color: #444746;
	border-style: solid;
	border-width: 1px;
	border-radius: 13px;
	box-shadow: 0px 0px 15px -10px #000;
}

.NotificationUpdate_text__YylYD {
	position: relative;
	color: #fff;
	margin-bottom: 80px;
}

.NotificationUpdate_text__YylYD::before {
	content: '';
	display: inline-block;
	width: 45px;
	height: 45px;
	background-image: url("http://127.0.0.1:2007/assets/ym-logo.png");
	background-size: cover;
	background-position: center;
	vertical-align: middle;
	margin-right: 10px;
	margin-left: -3px;
	border-radius: 5px;
}

.NotificationUpdate_button__F3O16 {
	background: #A7C6F9;
	margin-right: 10px;
	margin-bottom: -80px;
	border-radius: 150px;
	color: #000;
	font-weight: 100;
}

.NotificationUpdate_button__F3O16:hover {
	background: #A7C6F9;
	margin-right: 10px;
	margin-bottom: -80px;
	border-radius: 150px;
	color: #000;
	font-weight: 100;
	filter: brightness(0.95);
}

/*Исправление всех проблем*/
.UwnL5AJBMMAp6NwMDdZk {
	visibility: hidden;
}